@use "../../scss/variables";
@use "../../scss/mixins";

.services-container {
    margin: auto;
    display: flex;

    @include mixins.breakpoint-down(tablet) {
        flex-direction: column;
    }

    .service {
        width: 100%;
        border-radius: 0.25rem;
        font-size: 1rem;
        padding: 2rem;
        border: 3px solid rgba(variables.$colorLightGray, 0.5);
        text-align: center;

        &:not(:last-child) {
            margin-right: 2rem;

            @include mixins.breakpoint-down(tablet) {
                margin-bottom: 1rem;
                margin-right: 0;
            }
        }

        img {
            width: 3rem;
        }

        .heading {
            font-weight: 900;
            margin: 1rem 0 2rem 0;
        }

        .points {
            line-height: 1.7;
            color: variables.$colorLightGray;

            .point {
                margin-bottom: 1rem;
            }
        }
    }
}