@use "../../scss/variables";
@use "../../scss/mixins";

.projects {
    // background-color: rgba(variables.$colorSecondary, 0.6);
    // padding: 2rem;
    // border-radius: 0.25rem;
    // backdrop-filter: blur(2px);
    // background-color: transparent;

    @include mixins.breakpoint-down(mobile-md) {
        padding: 0.5rem;
    }

    &__heading {

        @include mixins.breakpoint-down(mobile-md) {
            padding: 1rem 0.5rem 0rem 0.5rem;
        }
    }

    &__container {
        display: flex;
        align-items: center;
        overflow-x: scroll;
        padding-bottom: 1rem;
    }
}