@use "../../scss/mixins";
@use "../../scss/variables";

section:hover {
    .right img {
        opacity: 0.9;
    }
}

.container {
    display: flex;
    align-items: center;
    gap: 4rem;

    @include mixins.breakpoint-down(tablet) {
        flex-direction: column;
        height: 100vh;
        gap: 2rem;
    }

    .left {
        flex: 1;
        line-height: 1.7;

        p {
            margin-bottom: 1rem;

            a {
                text-decoration: underline;
                font-weight: 600;
                color: variables.$colorLightGray;
                transition: all 0.2s;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    .right {
        flex: 1;

        img {
            opacity: 0.3;
            border-radius: 0.375rem;
            width: 70%;
            transition: all 1s;

            @include mixins.breakpoint-down(tablet) {
                opacity: 0.9;
                width: 100%;
            }
        }

    }
}