@use "../../scss/variables";
@use "../../scss/mixins";

.header {
    width: 70%;
    margin: auto;
    padding: 5rem 0;

    @include mixins.breakpoint-down(tablet) {
        width: 90%;
    }

    &__text {
        text-align: center;

        .heading {
            margin-bottom: 2rem;

            &__main {
                font-weight: 600;
            }

            &__sub {
                font-weight: 900;
            }
        }


        .description {
            font-size: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem);
            line-height: 1.8;
            color: variables.$colorLightGray;
            margin: auto;

            @include mixins.breakpoint-down(tablet) {
                width: 70%;
            }

            @include mixins.breakpoint-down(mobile-lg) {
                width: 100%;
            }
        }

        .btn {
            display: inline-block;
            margin-top: 1.75rem;
            padding: 1rem 2rem;

            &:hover {
                animation: pulse 0.2s ease-in-out forwards;
            }
        }
    }

}