@use "../../scss/variables";
@use "../../scss/mixins";

.btn {
    display: inline-block;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0px 5px 10px 0px #0005;
    }

    @include mixins.breakpoint-down(mobile-md) {
        width: 100%;
    }
}

.socials {
    color: variables.$colorLightGray;
    margin-top: 2rem;

    .flex-container {
        display: flex;
        align-items: center;
        margin-top: 1rem;

        @include mixins.breakpoint-down(mobile-md) {
            flex-direction: column;
            align-items: start;
        }


        .link {
            display: flex;
            align-items: center;
            transition: all 0.2s;


            img {
                height: 28px;
                margin-right: 0.5rem;
            }

            p {
                color: variables.$colorLightGray;
            }

            &:not(:last-child) {
                margin-right: 1.5rem;

                @include mixins.breakpoint-down(mobile-md) {
                    margin-bottom: 1.5rem;
                    margin-right: 0;
                }
            }

            &:hover {
                transform: scale(1.05);
            }

            &:active {
                transform: scale(1);
            }
        }
    }
}