@use "../../scss/variables";
@use "../../scss/mixins";

.copy {
    color: variables.$colorLightGray;

    p {
        width: 70%;
        line-height: 1.7;
        margin-bottom: 1rem;

        @include mixins.breakpoint-down(mobile-lg) {
            width: 100%;
        }
    }

    .skill-list {
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(13.5rem, 30%));
        gap: 1rem;

        @include mixins.breakpoint-down(mobile-md) {
            grid-template-columns: 1fr;
        }

        li {
            font-weight: 900;
            font-size: 1.25rem;
            border: 1px solid;
            padding: 1rem;
            border-radius: 0.25rem;
            min-width: 13.5rem;
            transition: all 0.1s ease-in-out;

            &:hover {
                animation: float 0.4s ease-in-out alternate infinite;
            }
        }
    }
}